@CHARSET "ISO-8859-1";

#mapdiv {
	float: left;
	width: 100%;
}

#speciesdiv {
	float: right;
	
}

#speciesImages{
	border-style: solid;
    border-width: medium;
}

.speciesImage {
    height: 100%;
}